In [13]:
library(tidyverse)
data <- read_csv("https://github.com/matthewzizek/dsci-100-project/raw/main/data/processed.cleveland.data")

New names:
• `1.0` -> `1.0...2`
• `1.0` -> `1.0...3`
• `1.0` -> `1.0...6`
• `0.0` -> `0.0...9`
• `0.0` -> `0.0...12`
Rows: 302 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (2): 0.0...12, 6.0
dbl (12): 63.0, 1.0...2, 1.0...3, 145.0, 233.0, 1.0...6, 2.0, 150.0, 0.0...9...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [16]:
tibble <- data |>
  select(1, 5) |>
  rename(age = 1, chol = 2)

tibble

    age chol
1   67  286
2   67  229
3   37  250
4   41  204
5   56  236
6   62  268
7   57  354
8   63  254
9   53  203
10  57  192
11  56  294
12  56  256
13  44  263
14  52  199
15  57  168
16  48  229
17  54  239
18  48  275
19  49  266
20  64  211
21  58  283
22  58  284
23  58  224
24  60  206
25  50  219
26  58  340
27  66  226
28  43  247
29  40  167
30  69  239
⋮   ⋮   ⋮
273 71  149
274 59  204
275 64  227
276 66  278
277 39  220
278 57  232
279 58  197
280 57  335
281 47  253
282 55  205
283 35  192
284 61  203
285 58  318
286 58  225
287 58  220
288 56  221
289 56  240
290 67  212
291 55  342
292 44  169
293 63  187
294 63  197
295 41  157
296 59  176
297 57  241
298 45  264
299 68  193
300 57  131
301 57  236
302 38  175

In [15]:
randomized_data <- data |>
  sample_frac(1)

num_rows <- nrow(randomized_data) / 2

tibble1 <- randomized_data |>
  slice(1:num_rows) |>
  select(1, 5) |>
  rename(age = 1, chol = 2)

tibble2 <- randomized_data |>
  slice((num_rows + 1):(num_rows * 2)) |>
  select(1, 5) |>
  rename(age = 1, chol = 2)

tibble1
tibble2

    age chol
1   59  218
2   43  177
3   57  274
4   67  254
5   61  207
6   47  257
7   54  288
8   58  319
9   54  206
10  58  284
11  65  269
12  66  228
13  48  274
14  42  180
15  44  220
16  62  268
17  45  264
18  41  203
19  41  306
20  45  208
21  51  298
22  62  164
23  49  149
24  60  240
25  45  160
26  62  231
27  61  203
28  62  294
29  70  269
30  45  234
⋮   ⋮   ⋮
122 41  172
123 67  212
124 47  275
125 39  199
126 51  227
127 53  282
128 59  176
129 51  213
130 54  232
131 45  260
132 44  219
133 52  230
134 61  330
135 29  204
136 66  226
137 64  313
138 52  223
139 51  305
140 44  197
141 65  282
142 41  204
143 44  141
144 64  227
145 44  290
146 37  250
147 60  305
148 53  216
149 59  273
150 52  255
151 51  222

    age chol
1   52  204
2   59  326
3   63  195
4   42  295
5   48  222
6   52  298
7   62  394
8   41  250
9   58  211
10  47  243
11  71  302
12  62  281
13  61  243
14  48  256
15  43  341
16  45  236
17  41  198
18  65  177
19  59  212
20  77  304
21  53  234
22  42  209
23  70  245
24  56  283
25  55  217
26  53  264
27  39  219
28  57  126
29  66  228
30  44  242
⋮   ⋮   ⋮
122 35  183
123 43  211
124 71  265
125 55  289
126 65  254
127 43  213
128 58  259
129 38  231
130 69  239
131 56  193
132 60  293
133 46  231
134 45  308
135 57  229
136 52  196
137 65  225
138 44  263
139 54  239
140 47  204
141 44  169
142 65  248
143 63  407
144 38  175
145 43  315
146 53  246
147 51  256
148 58  283
149 57  289
150 58  318
151 57  232