In [5]:
library(tidyverse)
data <- read_csv("https://github.com/matthewzizek/dsci-100-project/raw/main/data/processed.cleveland.data")

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ purrr     1.0.2
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.4     ✔ tidyr     1.3.0
✔ lubridate 1.9.3
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
New names:
• `1.0` -> `1.0...2`
• `1.0` -> `1.0...3`
• `1.0` -> `1.0...6`
• `0.0` -> `0.0...9`
• `0.0` -> `0.0...12`
Rows: 302 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (2): 0.0...12, 6.0
dbl (12): 63.0, 1.0...2, 1.0...3, 145.0, 233.0, 1.0...6, 2.0, 150.0, 0.0...9...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [7]:
tibble <- data |>
  select(1, 5) |>
  rename(age = 1, chol = 2)

tibble

    age chol
1   67  286
2   67  229
3   37  250
4   41  204
5   56  236
6   62  268
7   57  354
8   63  254
9   53  203
10  57  192
11  56  294
12  56  256
13  44  263
14  52  199
15  57  168
16  48  229
17  54  239
18  48  275
19  49  266
20  64  211
21  58  283
22  58  284
23  58  224
24  60  206
25  50  219
26  58  340
27  66  226
28  43  247
29  40  167
30  69  239
⋮   ⋮   ⋮
273 71  149
274 59  204
275 64  227
276 66  278
277 39  220
278 57  232
279 58  197
280 57  335
281 47  253
282 55  205
283 35  192
284 61  203
285 58  318
286 58  225
287 58  220
288 56  221
289 56  240
290 67  212
291 55  342
292 44  169
293 63  187
294 63  197
295 41  157
296 59  176
297 57  241
298 45  264
299 68  193
300 57  131
301 57  236
302 38  175