In [4]:
library(tidyverse)
library(tidymodels)
library(ggplot2)
data <- read_csv("https://github.com/matthewzizek/dsci-100-project/raw/main/data/processed.cleveland.data")

New names:
• `1.0` -> `1.0...2`
• `1.0` -> `1.0...3`
• `1.0` -> `1.0...6`
• `0.0` -> `0.0...9`
• `0.0` -> `0.0...12`
Rows: 302 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (2): 0.0...12, 6.0
dbl (12): 63.0, 1.0...2, 1.0...3, 145.0, 233.0, 1.0...6, 2.0, 150.0, 0.0...9...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [5]:
cleveland <- data |>
  select(1, 5) |>
  rename(age = 1, chol = 2)

cleveland

    age chol
1   67  286
2   67  229
3   37  250
4   41  204
5   56  236
6   62  268
7   57  354
8   63  254
9   53  203
10  57  192
11  56  294
12  56  256
13  44  263
14  52  199
15  57  168
16  48  229
17  54  239
18  48  275
19  49  266
20  64  211
21  58  283
22  58  284
23  58  224
24  60  206
25  50  219
26  58  340
27  66  226
28  43  247
29  40  167
30  69  239
⋮   ⋮   ⋮
273 71  149
274 59  204
275 64  227
276 66  278
277 39  220
278 57  232
279 58  197
280 57  335
281 47  253
282 55  205
283 35  192
284 61  203
285 58  318
286 58  225
287 58  220
288 56  221
289 56  240
290 67  212
291 55  342
292 44  169
293 63  187
294 63  197
295 41  157
296 59  176
297 57  241
298 45  264
299 68  193
300 57  131
301 57  236
302 38  175

In [13]:
cleveland_summary <- cleveland |>
  summarize(
    min_age = min(age),
    max_age = max(age),
    mean_age = mean(age),
    min_chol = min(chol),
    max_chol = max(chol),
    mean_chol = mean(chol)
  )
cleveland_summary

  min_age max_age mean_age min_chol max_chol mean_chol
1 29      77      54.4106  126      564      246.7384

In [6]:
set.seed(1)

#randomized_data <- data |>
#  sample_frac(1)

#num_rows <- nrow(randomized_data) / 2

#tibble1 <- randomized_data |>
#  slice(1:num_rows) |>
#  select(1, 5) |>
#  rename(age = 1, chol = 2)

#tibble2 <- randomized_data |>
#  slice((num_rows + 1):(num_rows * 2)) |>
#  select(1, 5) |>
#  rename(age = 1, chol = 2)

#tibble1
#tibble2

cleveland_split <- initial_split(tibble, prop = 0.75, strata = age)
cleveland_train <- training(cleveland_split)
cleveland_test <- testing(cleveland_split)
glimpse(cleveland_train)

ERROR: Error in `mc_cv()`:
! Can't select within an unnamed vector.

In [ ]:
cleveland_plot <- cleveland_train |>
                    ggplot(aes(x = age, y = chol)) +
                    geom_point() +
                    labs(x = "Age (years)", y = "Serum Cholesterol (mg/dl)", title = "Cholesterol levels and the Age of Heart Diseased Patients") +
                    theme(text = element_text(size = 15)) +
                    theme(plot.title=element_text(hjust = 0.5))
cleveland_plot

In [ ]:
cleveland_histogram <- cleveland_train |>
                    ggplot(aes(x = age, y = chol)) +
                    geom_histogram(stat = "identity") +
                    labs(x = "Age (years)", y = "Serum Cholesterol (mg/dl)", title = "Cholesterol levels and The Age of Heart Diseased Patients") +
                    theme(text = element_text(size = 15)) +
                    theme(plot.title=element_text(hjust = 0.5))
cleveland_histogram

## Methods
To conduct our data analysis, we will plot the age of the patients against cholesterol levels using a scatter plot, and then color the data points based on the presence of cardiovascular disease in the patient. Using cholesterol as a predictor, we will then analyze the effect that cholesterol levels have on the development of cardiovascular disease.

## Introduction
Prior research has shown that several risk factors increase the prevalence of heart attacks and heart diseases, including age and high cholesterol levels (above 200 mg/dL). 

Therefore, we will be using data from a valid data set to answer the following predictive question; “Can age and cholesterol levels be used to predict if an individual has a heart disease”. 

The UC Irvine (UCI) Machine Learning Repository contains the Cleveland heart disease dataset that will be used to answer our question. The dataset is used by machine learning researchers to analyze algorithms by answering a variety of predictive questions including predicting heart diseases for patients using many health risk predictors.

## Expected Outcomes and Significance

We anticipate that as cholesterol levels rise, so does the likelihood of developing cardiovascular disease. This realization, particularly after presenting evidence highlighting the adverse effects of high cholesterol, could motivate individuals to adopt behaviors conducive to maintaining lower cholesterol levels in their daily lives. cholesterol?

## Future Questions
After discussing amongst ourselves we have deduced that some possible questions that this project would lead to include:

What could someone do/avoid to decrease cholesterol levels?
What other factors may contribute to a higher risk of heart disease?
What other short and long-term physical effects can be associated with cholesterol?